@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary_gradient: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary_gradient: linear-gradient(135.9deg, rgb(109, 25, 252) 16.4%, rgb(125, 31, 165) 56.1%);
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.login-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.active-db-item {
  color: #fff;
  background-color: #6d19fc;
}
.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}